@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
li ,a{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}


.header, .nav{
    background-color: #020917;
}


@media (max-width: 1345px){
    .header{
       position: sticky;
       display: flex;
       flex-direction: column;
    }

    .nav{
      
       display: flex;
       flex-direction: column;
    }

    .nav>li{
        display: block;
    }

    
}