

.section-main{
    background-color: #02122A;
}


/* @media (max-width: 1345px){
    .skill-items{
        display: flex;
        flex-wrap: wrap;
        background-color: #031633dc;
    }

    .skill-items>div>header{
        background-color: transparent;
    }
    .skill-items footer{
        background-color: transparent;
    }
   

    
} */